.card {
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  
}


h3.text-center {
  margin-top: 20px;
  font-weight: 800;
}


.form-group {
  margin-bottom: 20px;
 
}

label {
  font-weight: bold;
  
}

input[type="text"],
input[type="number"] {
  width: 30%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  box-sizing: border-box;
  max-width: 20%;
  
  
  
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: green;
  color: white;
 cursor: pointer;
 margin-bottom: 10px;

}



button:hover {
  background-color: #0000FF;
}