<h3>View book details</h3>
<div>
    <div>
        <label><b>Id</b></label>{{book.id}}
    </div>
    <div>
        <label><b>Title</b></label>{{book.title}}
    </div>
    <div>
        <label><b>Author</b></label>{{book.author}}
    </div>
    <div>
        <label><b>category</b></label>{{book.category}}
    </div>
    <div>
        <label><b>price</b></label>{{book.price}}
    </div>
    <div>
        <label><b>totalcount</b></label>{{book.totalcount}}
    </div>
    
</div>

<router-outlet></router-outlet>
